<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - MyBudgetTrackr</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='home&about.css') }}">
</head>


<header>
<nav>
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/dashboard">Dashboard</a></li>
    <li><a href="/input">Add Income/Expenses</a></li>
    <li><a href="/history">Historical Data</a></li>
    <li><a href="/report">Generate Report</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/logout">Logout</a></li>
</ul>
</nav>
</header>




<body>
<div class="about-section">
<h1>About Budgeting App</h1>
<p>The <strong>MyBudgetTrackr</strong> is a personal finance management tool developed as part of the final project for Harvard's <a href="https://cs50.harvard.edu/">CS50: Introduction to Computer Science</a>. The goal of this app is to help users manage their finances by tracking income, expenses, and setting savings goals, all in one place.</p>
<p>As a CS50 final project, this app demonstrates the application of various programming and web development skills including backend development with Flask, front-end design using HTML and CSS, and integration with a SQLite database for data storage. The project also emphasizes user authentication, secure password handling, and dynamic data rendering in a web environment.</p>
<p>The app is designed with a user-friendly interface, where users can easily input their income and expenses, view reports, set savings goals, and track their financial progress over time. This project was built to showcase the development skills acquired throughout the CS50 course, while addressing a real-world need for effective personal financial management.</p>
<p><strong>Key Features:</strong></p>




<ul>
    <li>Track income and expenses</li>
    <li>Set and monitor savings goals</li>
    <li>Generate financial reports in PDF format</li>
    <li>View spending breakdown by category</li>
</ul>


<p>This project has been developed using Python, Flask, SQLite, and HTML/CSS. It provides a simple, intuitive way for users to take control of their financial situation and work towards their goals.</p>
</div>
</body>
<footer>
    <p>&copy; 2024 MyBudgetTrackr. All rights reserved. (Not Really)</p>
</footer>
</html>