<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home - Budgeting App</title>
    </head>
    <body>
        <h1>Welcome to the budgeting app!</h1>
        <p>Here you can manage your finances and reach your investment goals.</p>
            <nav>
                <ul>
                    <li><a href="/dashboard">Dashboard</a></li>
                    <li><a href="/input">Add Income/Expenses</a></li>
                </ul>
            </nav>
    </body>
</html>