{% extends "base.html" %}

{% block title %}Login - MyBudgetTrackr{% endblock %}

{% block content %}
        <h1>Generate Financial Report</h1>
        <p>Download a detailed PDF report of your financial data, including income, expenses, and savings.</p>
        <a href="/create_report" target="_blank">
            <button>Download Financial Report</button></a>
            <footer>
                <p>&copy; 2024 MyBudgetTrackr. All rights reserved. (Not Really)</p>
            </footer>
{% endblock %}